@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html,body,:root,#root{
  height:100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  /* Because i am working in a model it, we have some problem.so we have to override it */
  z-index: 0 !important;
}